

.main-menu > li > a {
    right: 106px;
}

.header-main .company-name-header h2 {
    font-size: 34px;
}

.header-main .company-name-header .slogan {
    width: 100%;
    display: block;
    color: #fff;
    margin-top: -10px;
    font-size: 12px;
}

