/* Base styles - in general for tags (Базовые стили - в основном для тегов) */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	background-color: #000 !important;
	line-height: 1.42857143;
}

p {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}

h1,
h2,
h4 {
	text-align: center;
	font-weight: bold;

}

h3 {
    font-size: 20px;
	text-align: center;
	margin-bottom: 20px;

}

h2 {
    text-transform: uppercase;
	font-size: 24px;
	margin: 0 auto 15px;
}

h1 {
	text-transform: uppercase;
	font-size: 24px;
	margin: 0 !important;
}
h4+h1 {
	margin-bottom: 0;
}
h1+h4 {
	margin-bottom: 20px;
}
h4+p {
	margin-bottom: 0 !important;
}

h4 {
	text-align: center;
    font-size: 22px;
    font-weight: 400;
}


h3 {
    font-size: 20px;
    text-align: center;
}


th, td:first-child {
	background: #AFCDE7;
	padding: 10px 20px;
	color: #333; 
}

th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white; 
    vertical-align: middle;
    text-align: center;
}

th {
    font-weight: bold;
}

td {
	background: #D8E6F3; 
}

td:first-child {
	text-align: left; 
}



h5 {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}


table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	height: auto; 
    margin-top: -10px;
    border: solid 3px #b2b2b3;
}

sub, sup {
    font-size: 12px;
}

.main-container {
    text-align: justify;
}

input {
	width: 100%;
	padding: 8px 28px;
	border-radius: 10px;
	border: 2px solid #000;
	color: #000 !important;
}

input:focus {
	border-color: white;
}

input[type="submit"] {
	background: #000;
	color: #fef22e !important;
	font-size: 22px;
	padding: 10px 35px;
	border: none;
	width: auto;
	box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 15px;
    display: block;
}

.wpcf7-form .wpcf7-submit:hover {
	background-color: #fef22e !important;
	color: #000 !important;
 }

label {
	font-size: 18px;
	color: #fff;
	margin-bottom: 21px;
}

.contact-form {
	float: left;
	width: 100%;
	background: #cc4949;
}

img.contact-form {
	width: 52%;
	margin-right: 15px;
}

.order-button {
	cursor: pointer;
}
