// HEADER-MAIN-TOP
.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	padding: 0;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
	height: 0;
}


/* Main menu behavior (поведение главного меню) */
.main-menu {

	/* Hide inner lists (скрыть вложенные списки) */
	ul {
		display: none;
	}

	/*
		Show the second level of menu when selected
		(показать второй уровень меню когда выбрано)
	*/
	&>li {
		&.current-menu-item>ul,
		&.current-menu-ancestor>ul {
			display: block;
		}
	}

	/*
		Show the third level of menu when selected
		(показать третий уровень меню когда выбрано)
	*/
	&>li>ul>li {
		&.current-menu-item>ul,
		&.current-menu-ancestor>ul {
			display: block;
		}
	}

}

/* Main menu styles (стили главного меню) */
.main-menu {

	text-align: center;
	@extend %page-wrap;

	// Prevent margin collapse
	// (предотвратить схлопывание отступов)
	padding: 1px 0;
	margin: 2px auto;
	position: relative;

	/* First level of menu (первый уровень меню) */
	&>li {
		// new
		&>ul>li.current_page_item > a > span {
				background-color: #f5f5f5 !important;
				color: #000;
   			    left: 0;
   			    right: 0;
   			    width: 93%;
   			    margin-left: 3%;
				line-height: 35px;
				border-bottom: 1px dotted;
				font-weight: bold;
		}
		&:nth-of-type(1) a {
			left: 0;
		}
		&:nth-of-type(2) a:first-child {
			right: 33.35%;
		}
		&:nth-of-type(3) a:first-child {
		}
		
        
		&>a {
			background: #d5d5d5;
			border-radius: 7px;
			color: #000;
			font-size: 15px;
			text-transform: uppercase;
			position: absolute;
			top: 1px;
			width: 49.67%;
		}
		&.current-menu-item>a,
		&.current-menu-ancestor>a,
		&>a:hover {
			color: #095580;
			border-color: inherit;
		}
        &>a {
				height: 48px;
				border: 0;
				z-index: 100;
				color: #095580;
				background: #d5d5d5;
				
			}
	}

	/* Second level of menu (второй уровень меню) */
	&>li>ul {
		padding: 0 0;
		border-left: 0;
		border-right: 0;
		font-size: 0;
		margin-top: 48px !important;
		border-top: 15px solid #f5f5f5 !important;
		&>li {
			display: inline-block;
			margin: 0;
			margin: 0 .33%;
			width: 16%;
			border-left: none;
			border-right: none;
			&>a {
				background: transparent no-repeat 50% 50%;
				background-size: contain;
				display: block;
				height: 40px;
				position: relative;
                background-color: #000;
				// background: rgba(0, 0, 0, 0.4);
				font-size: 15.2px;
				color: #000;
				&>span {
					position: absolute;
					left: 0;
					right: 0;
					width: 93%;
					margin-left: 3%;
					line-height: 35px;
					border-bottom: 1px dotted;
				}
			}
			&.current-menu-item {
				border-color: transparent;
				background-color: #000;
			}
			&.current-menu-item>a,
			&.current-menu-ancestor>a,
			&>a:hover {
				// background: rgba(0, 0, 0, 0.1);
				flex: 0 0 244px;
				color: #000;
				span {
					// background: rgba(0, 0, 0, 0.7);
				}
			}
		}
	}
	&>li>ul>li>a {
			text-transform: uppercase;
		}
		
	
	/* Third level of menu (третий уровень меню) */
	&>li>ul>li>ul {
		position: relative;
		bottom: 4px;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 0;
		&>li {
			display: block;
			background-repeat: no-repeat;
			background-position: 15% 27%;
			background-size: 13%;
			&>a {
				color: #333;
				font-size: 15px;
				display: block;
				border-bottom: dotted 1px;
				width: 90%;
				margin-left: 5%;
				text-align: left;
				padding: 9px 0 9px 65px;
				
				text-decoration: none;

			}
            &>a:hover {
                color: #000;
   				text-decoration: none;
            }
			&:first-child>a {
				 border-left: none;
   				 text-overflow: ellipsis;
   				 overflow: hidden;
   				 white-space: nowrap;
			}
			&:last-child>a {
				border-right: none;
			}
			&.current-menu-item>a,
			&.current-menu-ancestor>a {
				z-index: 111;
				text-align: left;
				text-decoration: none;
				transition: 0.4s;
				width: 90%;
				margin-left: 5%;
				padding: 7px 20px;
				color: #000;
				text-decoration: none;
				background-color: #f2f2f2;
			}
		}
	}

}


/*
	Styles for menu items to match blocks
	(стили для пунктов меню чтобы не вылазить из блоков)
*/
#menu-menu-ru>li>ul>li {
	&:nth-child(1)>a>span {
		padding: 0;
	}
	&:nth-child(2)>a>span {
		padding: 0 10px;
	}
	&:nth-child(3)>a>span {
		padding: 0 15px;
	}
	&:nth-child(4)>a>span {
		padding: 0 25px;
	}
	&:nth-child(5)>a>span {
		padding: 0 15px;
	}
	&:nth-child(6)>a>span {
		padding: 0;
	}
}
#menu-menu-ua>li>ul>li {
	&:nth-child(1)>a>span {
		padding: 0 15px;
	}
	&:nth-child(2)>a>span {
		padding: 0;
	}
	&:nth-child(3)>a>span {
		padding: 0 30px;
	}
	&:nth-child(4)>a>span {
		font-size: 1em;
		padding: 0;
	}
	&:nth-child(5)>a>span {
		font-size: .95em;
		padding: 0;
	}
	&:nth-child(6)>a>span {
		padding: 0;
	}
}
#menu-menu-eng>li>ul>li {
	&:nth-child(1)>a>span {
		padding: 0;
	}
	&:nth-child(2)>a>span {
		padding: 0 26px;
	}
	&:nth-child(3)>a>span {
		padding: 0 30px;
	}
	&:nth-child(4)>a>span {
		padding: 0 12px;
	}
	&:nth-child(5)>a>span {
		padding: 0;
	}
	&:nth-child(6)>a>span {
		padding: 0 30px;
	}
}


// main-menu-slider


.main-menu>li.current-menu-item>.sub-menu,
.main-menu>li.current-menu-ancestor>.sub-menu {
  /*background-color: #ddd;*/
  display: flex;
  /*height: 250px;*/
  /*padding: 0;*/
  /*margin: 0;*/
  max-width: 100%;
  overflow-x: hidden;
  /*position: relative;*/
  transition: .3s;
  margin-left: 3px !important;
}


.main-menu>li:nth-child(3).current-menu-item>.sub-menu {
	max-width: 99.5%;
}

.main-menu>li>ul {
  border-color: transparent;
  padding-bottom: 0;

}

.menu-dots {
  // width: 100%;
  z-index: 100;
  width: 130px;
  margin: auto;
  position: relative;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.menu-dots li {
    display: inline-block;
    /*color: #fff;*/
    font-size: 0;
    width: 10px;
	height: 10px;
	border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 1px 0;
  }
.menu-dots li.active {
  /*color: #f0e;*/
  border-color: #fff;
  background-color: #fff;
}

/*
.main-menu>li.current-menu-item,
.main-menu>li.current-menu-ancestor {
  background-color: #E4EEF2;
}
*/

.main-menu>li.current-menu-item>.sub-menu>li,
.main-menu>li.current-menu-ancestor>.sub-menu>li {
  /*border: 1px solid black;*/
  /*list-style-type: none;*/
  background-color: #000;
  flex: 0 0 270px;
  position: relative;
  background: #f5f5f5;
  margin: 0 8px 0 0;
  border-bottom-left-radius: 20px;
}

.main-menu>li>ul>li>ul {
	height: 160px;
	overflow-y: auto;
}
// .main-menu>li>.sub-menu>li:first-child {
// 	border-left: 3px solid #fef22e !important;
// }


a.teler-wd-promo, .teler-wd-link-to-us {
	display: none !important;
}

/*=--------------------------------------*/

.main-menu>li>.sub-menu>li::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

// .main-menu>li>.sub-menu>li::-webkit-scrollbar
// {
// 	width: 10px;
// 	background-color: #F5F5F5;
// }

// .main-menu>li>.sub-menu>li::-webkit-scrollbar-button {
// 	display: block;
// 	width: 20px;
// 	height: 20px;
// }

// .main-menu>li>.sub-menu>li::-webkit-scrollbar-button:decrement:start {background-color:lightblue;
// 	border:2px solid black;}

// .main-menu>li>.sub-menu>li::-webkit-scrollbar-button:increment:start {
// 	display: none;
// }

// .main-menu>li>.sub-menu>li::-webkit-scrollbar-button:decrement:end {
// 	display: none;
// }

// .main-menu>li>.sub-menu>li::-webkit-scrollbar-button:increment:end {
// 	font-family: 'FontAwesome';
// 	content: '\f0de';
// 	border:2px solid black;}

// .main-menu>li>.sub-menu>li::-webkit-scrollbar-thumb
// {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
// 	background-color: #333;
// }



#next_desktop,
#prev_desktop {
  position: absolute;
  top: 70px;
  /*background-color: red;*/
  height: 122px;
  width: 50px;
  z-index: 10;
  transition: .15s;
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.main-menu > li > ul > li.current-menu-item > ul,
.main-menu > li > ul > li.current-menu-ancestor > ul {
	text-align: center;
	position: relative;
}

.main-menu > li.current-menu-item > a:before,
.main-menu > li.current-menu-ancestor > a:before {
  content: '';
  display: none;
}

#next_desktop.active,
#prev_desktop.active {
  opacity: .5;
}

#next_desktop {
  right: -55px;
  background-image: url(img/menu/button-right-white.png);
}

#prev_desktop {
  left: -55px;
  background-image: url(img/menu/button-left-white.png);
}

#next_desktop:hover {
  right: -55px;
  background-image: url(img/menu/button-right-yellow.png);
}

#prev_desktop:hover {
  left: -55px;
  background-image: url(img/menu/button-left-yellow.png);
}

.main-menu > li > a {
  color: #000;
  border-radius: 0;
  padding: 15px 12px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 33.6%;
  right: 0;
  border-bottom: 3px solid #000;
  border-left: 3px solid;
}
.main-menu > li:nth-child(2) > a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-menu > li.current-menu-item > a,
.main-menu > li.current-menu-ancestor > a {
	color: #000 ;
	font-weight: bold;
	border-right: 3px solid #000;
	border-bottom: 0;
	text-decoration: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 101;
	background: #f5f5f5;
}

.main-menu > li.current-menu-ancestor:nth-child(2) > a {
	left: 33.35%;
}

.main-menu > li > a:hover {
	color: #333 ;
	text-decoration: none;
}

.main-menu > li > ul > li.menu-item > .sub-menu, 
.main-menu > li > ul > li.menu-item > .sub-menu {
	display: block!important;
}

.hover {
	background-color: #333;
}





/*====================block2===============================*/
.main-menu > li> ul > li > ul > li.current-menu-item > a, .main-menu > li> ul > li > ul > li.current-menu-ancestor > a {
	background-color: transparent;
	color: #000;
	text-align: left;
	padding-left: 65px;
	font-size: 16px;
	box-shadow: inset 0 0 5px rgba(0,0,0,1.5);
}

.main-menu > li> ul > li > a {
	background-color: rgba(0, 0, 0, 0);
	color: #000;
	left: 0;
}

.main-menu > li.current-menu-item:nth-child(2) > a{
	left: 33.3%;
}




.main-menu > li> ul > li.current-menu-ancestor > a {
	background-color: rgba(0, 0, 0, 0);
}

.main-menu > li> ul > li.current-menu-item {
	background-color: #333;
	color: black;
}



#menu-item-1357 {
	background-position: 8% 40%;
	&>a {
		padding: 9px 0 9px 48px;
	}
}

.menu-item-485, .menu-item-904, .menu-item-1354 {background-image: url(img/menu/icons/adwords.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/adwords-color.png);}}
.menu-item-489, .menu-item-905, .menu-item-1355 {background-image: url(img/menu/icons/yandex.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/yandex-color.png);}}
.menu-item-836 {background-image: url(img/menu/icons/bing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/bing-color.png);}}
.menu-item-488, .menu-item-906, .menu-item-1324 {background-image: url(img/menu/icons/facebook.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/facebook-color.png);}}
.menu-item-482, .menu-item-907, .menu-item-1325 {background-image: url(img/menu/icons/instagram.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/instagram-color.png);}}
.menu-item-944, .menu-item-969, .menu-item-1438, .menu-item-1326 {background-image: url(img/menu/icons/play.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/youtube-color.png);}}
.menu-item-865, .menu-item-1327 {background-image: url(img/menu/icons/twitter.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/twitter-color.png);}}
.menu-item-866, .menu-item-908, .menu-item-1328 {background-image: url(img/menu/icons/vk.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/vk-color.png);}}
.menu-item-867, .menu-item-909, .menu-item-1329 {background-image: url(img/menu/icons/od.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/ok-color.png);}}
.menu-item-868, .menu-item-1330 {background-image: url(img/menu/icons/pinterest.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/pinterest-color.png);}}
.menu-item-945 {background-image: url(img/menu/icons/skype.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/skype-color.png);}}
.menu-item-970 {background-image: url(img/menu/icons/gmail.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/gmail-color.png);}}
.menu-item-1439 {background-image: url(img/menu/icons/audit.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/audit-color.png);}}
.menu-item-1356 {background-image: url(img/menu/icons/begun.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/begun-color.png);}}
.menu-item-1357 {background-image: url(img/menu/icons/kon-med.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/kon-med-color.png);}}
//tiser
.menu-item-899 {background-image: url(img/menu/icons/margid.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/margid-color.png);}}
.menu-item-901 {background-image: url(img/menu/icons/kadam.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/kadam-color.png);}}
.menu-item-902 {background-image: url(img/menu/icons/direct.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/direct-color.png);}}
.menu-item-953 {background-image: url(img/menu/icons/bodyclick.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/bodyclick-color.png);}}
.menu-item-954 {background-image: url(img/menu/icons/adlabs.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/adlabs-color.png);}}
//marketplace
.menu-item-981 {background-image: url(img/menu/icons/olx.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/olx-color.png);}}
.menu-item-982 {background-image: url(img/menu/icons/prom.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/prom-color.png);}}
.menu-item-983 {background-image: url(img/menu/icons/allbiz.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/allbiz-color.png);}}
//web-analytics
.menu-item-1077 {background-image: url(img/menu/icons/g-analytics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/g-analytics-color.png);}}
.menu-item-1078 {background-image: url(img/menu/icons/yandex-metrics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/yandex-metrics-color.png);}}
.menu-item-1079 {background-image: url(img/menu/icons/facebook-analytics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/facebook-analytics-color.png);}}
//seo
.menu-item-1300 {background-image: url(img/menu/icons/vnut-seo.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/vnut-seo-color.png);}}
.menu-item-1301 {background-image: url(img/menu/icons/vnesh-seo.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/vnesh-seo-color.png);}}
.menu-item-1302 {background-image: url(img/menu/icons/seo-audit.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/seo-audit-color.png);}}
.menu-item-1303 {background-image: url(img/menu/icons/serm.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/serm-color.png);}}
.menu-item-1304 {background-image: url(img/menu/icons/check-sanctions.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/check-sanctions-color.png);}}
.menu-item-1305 {background-image: url(img/menu/icons/lift-sanctions.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/lift-sanctions-color.png);}}
//стратегия
.menu-item-1339 {background-image: url(img/menu/icons/audit2.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/audit2-color.png);}}
.menu-item-1340 {background-image: url(img/menu/icons/consulting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/consulting-color.png);}}
.menu-item-1367 {background-image: url(img/menu/icons/automation.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/automation-color.png);}}
//price агрегаторы
.menu-item-1474 {background-image: url(img/menu/icons/hotline.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/hotline-color.png);}}
.menu-item-1475 {background-image: url(img/menu/icons/price.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/price-color.png);}}
.menu-item-1476 {background-image: url(img/menu/icons/nadavi.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/nadavi-color.png);}}
.menu-item-1477 {background-image: url(img/menu/icons/m-ua.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/m-ua-color.png);}}
.menu-item-1478 {background-image: url(img/menu/icons/ek-ua.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/ek-ua-color.png);}}

//---------------------------------------------site--------------------------------------------

//web-design
.menu-item-495 {background-image: url(img/menu/icons-site/web-design.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/web-design-color.png);}}
.menu-item-1017 {background-image: url(img/menu/icons-site/redesign.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/redesign-color.png);}}
.menu-item-1385 {background-image: url(img/menu/icons-site/media-banners.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/media-banners-color.png);}}
.menu-item-1386 {background-image: url(img/menu/icons-site/usability.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/usability-color.png);}}

//optimizaciya

.menu-item-1400 {background-image: url(img/menu/icons-site/cms.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/cms-color.png);}}
.menu-item-1401 {background-image: url(img/menu/icons-site/fast-loading.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/fast-loading-color.png);}}
.menu-item-1402 {background-image: url(img/menu/icons-site/adaptation.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/adaptation-color.png);}}
.menu-item-1403 {background-image: url(img/menu/icons-site/technical-audit.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/technical-audit-color.png);}}

//tehpodderzhka

.menu-item-1425 {background-image: url(img/menu/icons-site/ssl.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/ssl-color.png);}}
.menu-item-1426 {background-image: url(img/menu/icons-site/hosting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/hosting-color.png);}}
.menu-item-1427 {background-image: url(img/menu/icons-site/defence.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/defence-color.png);}}

//sozdanie saita

.menu-item-1018 {background-image: url(img/menu/icons-site/landing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/landing-color.png);}}
.menu-item-1373 {background-image: url(img/menu/icons-site/vizitka-site.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/vizitka-site-color.png);}}
.menu-item-1019 {background-image: url(img/menu/icons-site/corporation-site.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/corporation-site-color.png);}}
.menu-item-1383 {background-image: url(img/menu/icons-site/internet-shop.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/internet-shop-color.png);}}
.menu-item-1384 {background-image: url(img/menu/icons-site/dorabotka.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/dorabotka-color.png);}}
.menu-item-1020 {background-image: url(img/menu/icons-site/mobile.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/mobile-color.png);}}

//integraciya

.menu-item-1063 {background-image: url(img/menu/icons-site/ip-atc.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/ip-atc-color.png);}}
.menu-item-1066 {background-image: url(img/menu/icons-site/calltracking.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/calltracking-color.png);}}
.menu-item-1071 {background-image: url(img/menu/icons-site/amocrm.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/amocrm-color.png);}}
.menu-item-1429 {background-image: url(img/menu/icons-site/messangers.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/messangers-color.png);}}
.menu-item-1430 {background-image: url(img/menu/icons-site/online-chat.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/online-chat-color.png);}}
.menu-item-1431 {background-image: url(img/menu/icons-site/mailing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/mailing-color.png);}}
.menu-item-1432 {background-image: url(img/menu/icons-site/sms-mailing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/sms-mailing-color.png);}}

//---------------------------------------------site--------------------------------------------

//textoviy
.menu-item-1456 {background-image: url(img/menu/icons-content/copywriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/copywriting-color.png);}}
.menu-item-1457 {background-image: url(img/menu/icons-content/rewriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/rewriting-color.png);}}
.menu-item-1458 {background-image: url(img/menu/icons-content/seo-copywriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/seo-copywriting-color.png);}}
.menu-item-1459 {background-image: url(img/menu/icons-content/smm-copywriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/smm-copywriting-color.png);}}

//graphicheskiy
.menu-item-1460 {background-image: url(img/menu/icons-content/infographics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/infographics-color.png);}}
.menu-item-1461 {background-image: url(img/menu/icons-content/presentations.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/presentations-color.png);}}

//video
.menu-item-1462 {background-image: url(img/menu/icons-content/video-montage.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/video-montage-color.png);}}



//class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-346 current_page_item menu-item-has-children menu-item-570"
//menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-346 current_page_item menu-item-has-children menu-item-570
//menu-item menu-item-type-post_type menu-item-object-page menu-item-home                                                             menu-item-has-children menu-item-570





