/* Base styles - in general for tags (Базовые стили - в основном для тегов) */
html {
	box-sizing: border-box;
    width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	background-color: #f2f3f4;
	width: 100%;
	line-height: 1.42857143;
}

a {
	text-decoration: none !important;
	color: inherit;
	&:hover {
		text-decoration: none !important;
	}
	&:focus {
		text-decoration: none !important;
	}
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}

h1,
h2,
h4 {
	text-align: center;
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

h1 {
	text-transform: uppercase;
	font-size: 24px;

}

h2 {
	text-transform: uppercase;
	font-size: 24px;

}
h4+h1 {
	margin-bottom: 0;
}
h1+h4 {
	margin-bottom: 20px;
}
h4+p {
	margin-bottom: 0 !important;
}
h4 {
	font-size: 18px;
}
h3 {
	font-size: 18px;
	margin: 10px auto 5px;
}

h5 {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

table,
td,
th {
	border: 2px solid #A4A4A4;
}

table {
	width: 100%;
}

th {
	font-weight: bold;
	font-size: 0.8em;
	background: #483F3B;
	height: 25px;
}

td {
	background: #ffff99;
}

td,
th {
	vertical-align: middle;
	padding: 5px;
	text-align: center;
}


input {
	width: 100%;
	padding: 8px 28px;
	border-radius: 10px;
	border: 2px solid #000;
	color: #000 !important;
}



input:focus {
	border-color: red;
}

input[type="submit"] {
	background: #000;
	color: #fef22e !important;
	font-size: 22px;
	padding: 10px 35px;
	border: none;
	width: auto;
	box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 15px;
    display: block;
}

.wpcf7-form .wpcf7-submit:hover {
	background-color: #fef22e !important;
	color: #000 !important;
 }

label {
	font-size: 18px;
	color: #fff;
	margin-bottom: 21px;
}

.contact-form {
	float: left;
	width: 100%;
	background: #cc4949;
}

img.contact-form {
	width: 100%;
	margin-bottom: 15px;
}

.container {
	padding: 0 !important;
}

.order-button {
	cursor: pointer;
}

// ::-webkit-scrollbar {
//       width:  15px;
//   }

// ::-webkit-scrollbar-thumb {
//       background: #000;
//   }

// ::-webkit-scrollbar-track {
//       background: #666;
//   }

::-webkit-scrollbar-button { 
	background-image:url(''); 
	background-repeat:no-repeat; 
	width:6px; 
	height:0px 
	} 
	
	::-webkit-scrollbar-track { 
	background-color:#32312e; 
	box-shadow:0px 0px 3px #000 inset; 
	height: 75%;
	} 
	
	::-webkit-scrollbar-thumb { 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	background-color:#fef22e; 
	box-shadow:0px 1px 1px #fff inset; 
	background-image:url('https://yraaa.ru/_pu/24/59610063.png'); 
	background-position:center; 
	background-repeat:no-repeat; 
	} 
	
	::-webkit-resizer{ 
	background-image:url(''); 
	background-repeat:no-repeat; 
	width:7px; 
	height: 75%;
	} 
	
	::-webkit-scrollbar{ 
	width: 11px; 
	height: 30px;
	}