// HEADER-MAIN-TOP

.navbar-default {
	width: 70%;
	float: right;
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	border: none;
	margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	background: #666;
	z-index: 10000;
	text-align: center;
	width: 60%;
	height: 100vh;
	overflow: hidden;
	-webkit-transition: all ease-in 0.7s;
	transition: all ease-in 0.7s;
	padding-top: 93px;
	right: -60%;
	&.active {
		height: 100vh;
		opacity: 1;
		-webkit-transition: all ease-out 0.3s;
		transition: all ease-out 0.3s;
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
		right: 0;
	}
}



.collapse, .navbar-collapse{
	display: block;
	padding-left: 0;
	padding-right: 0;
}

.container-fluid>.navbar-collapse {
	margin-right: 0;
	margin-left: 0;
}

.navbar-header {
	display: none;
}	

.navbar-nav {
	margin: 0 auto;
}



.nav > li > a {
	padding: 10px 2px; 
	font-size: 18px;
	border-bottom: 2px solid;
	text-align: left;
}




/* Main menu behavior (поведение главного меню) */

body > .container {
	padding-left: 0;
	padding-right: 0;
}

.main-menu {

	/* Hide inner lists (скрыть вложенные списки) */
	ul {
		display: none;
	}

	/*
		Show the second level of menu when selected
		(показать второй уровень меню когда выбрано)
	*/
	&>li {
		&.current-menu-item>ul,
		&.current-menu-ancestor>ul {
			display: block;
			&>.current-menu-item,
			&>.current-menu-ancestor {
				display: flex;
			}
		}
	}

	/*
		Show the third level of menu when selected
		(показать третий уровень меню когда выбрано)
	*/
	&>li {
		&.current-menu-item>ul>li>ul,
		&.current-menu-ancestor>ul>li>ul {
			display: block!important;
			margin-top: 50px;
		}
	}

}
// .main-menu > li > ul > li.current_page_item, .main-menu > li > ul > li.current-menu-ancestor

/* Main menu styles (стили главного меню) */
.main-menu {

	color: $color-sub;
	font-size: 14.4px;
	padding-top: 1px;
	margin: -1px auto;
	padding-bottom: 1px;
	position: relative;

	/* First level of menu (первый уровень меню) */
	&>li {
		// new
		&>ul {
			padding-top: 50px;
			margin: 35px auto 0px;
			margin-top: 0;
			background-color: #000;
			padding-bottom: 10px;
			&>li.current_page_item > a > span {
				background-color: #fef22e !important;
    			position: absolute;
    			bottom: -12px;
    			left: 0;
    			right: 0;
   			    width: 83%;
   			    margin: 5px 8.5%;
   			    padding: 8px 0;
				color: #000;
				font-weight: bold;
			}
		}
		// new end
		&:nth-child(1)>a {
			left: 0;
			border-right: 1px solid black;
		}
		&:nth-child(2)>a {
			right: 33.4%;
			border-right: 1px solid black;
			border-left: 1px solid black;
		}
		&:nth-child(3)>a {
			right: 0;
			font-size: 12px;
			border-left: 1px solid black;
		}
		&>a {
			background-color: #f2f2f2;
			border: 2px solid transparent;
			border-radius: 7px;
			color: #333;
			font-weight: bold;
			font-size: 13px;
			width: 47%;
			text-align: center;
			padding: 5px 0;
			position: absolute;
			top: 1px;
            height: 48px;
			right: 33.33%;
		}
		// new
		&>a {
			border: 1px solid transparent;
			width: 33.3%;
			border-radius: 0;
			border: 0;
			text-transform: uppercase;
			height: 48px;
			border-left: 1px solid;
		}
		// new end
		&.current-menu-item,
		&.current-menu-ancestor {
			&>a {
				height: 48px;
				border: 0;
				z-index: 100;
				color: #000;
				background-color: #fef22e;
				border-left: 1px solid black;
			}
		}
	}

	/* Second level of menu (второй уровень меню) */
	&>li>ul>li {
		// border-top: 1px solid $color-sub;
		border: 0;
		
		display: none;
		// &:last-child {
		// 	border-bottom: 1px solid $color-sub;
		// }
		&>a {

			display: block;
			display: flex;
			padding: 10px 5% 10px 5%;
			text-transform: uppercase;
			// position: relative;
			position: absolute;
			top: 53px;
			left: 0;
			width: 100%;
			// &:after {
			// 	content: url('img/icons/toggle-list.png');
			// 	position: absolute;
			// 	top: 7px;
			// 	right: 7px;
			// }

			padding: 0 40px 0 130px;
			text-align: center;
			// background-color: #777;
			background-color: #000;
			// background-color: #5d514b;
			color: #000;
			height: 50px;
			align-items: center;
			justify-content: center;

			// background-image: url("//migrations.agency/wp-content/themes/migrations-agency/img/menu/mobile/9.png");
			background-repeat: no-repeat;
			background-position: 40px 50%;
			background-size: auto 80%;
			&>span {
				position: absolute;
				bottom: -12px;
				left: 0;
				right: 0;
				padding: 8px 0;
				background-color: #cacaca !important;
				width: 83%;
				margin: 5px 8.5%;
				color: #000;
			}
		}

		&.current_page_item,
		// &.active,
		&.current-menu-ancestor {
			display: flex;
			&>a {
				color: $color-white;
				border-color: transparent;
				background-color: #000 !important;
				// &:after {
				// 	transform: rotate(180deg);
				// }
			}
		}
	}

	/* Images for "Services to foreigners" (картинки для "Углуги иностранцам") */
	&>li:first-child>ul>li>a {
			text-transform: uppercase;
	}

	/* Third level of menu (третий уровень меню) */
	&>li>ul>li>ul {
		padding: 10px 0 0 0;
		margin-top: 98px;
		width: 100%;
		// background-color: red !important;
		&>li {
			&>a {
				color: $color-main-text;
				display: block;
				width: 83%;
				margin: 5px 8.5%;
				text-align: left;
                padding: 7px 20px;
				text-overflow: ellipsis;
   				overflow: hidden;
   				white-space: nowrap;
				background: #f2f2f2;
				font-size: 15px;
				box-shadow: 1px 2px 2px rgba(100, 100, 100, 0.1);
			}
			&.current_page_item>a,
			&.current-menu-ancestor>a {
				color: #000;
				width: 83%;
				margin: 5px 8.5%;
				padding: 7px 20px;
				text-align: left;
				text-overflow: ellipsis;
   				overflow: hidden;
   				white-space: nowrap;
				background: #fef22e;
				font-size: 15px;
				box-shadow: 1px 2px 2px rgba(100, 100, 100, 0.1);
				font-weight: bold;
			}
		}
	}

}



/* Fourth level of menu (четвертый уровень меню) */
.deep_menu {
	text-align: center;
	margin: 0 auto;
	&>ul>li {
		list-style-type: none;
		&>a {
			display: block;
			color: #000;
			font-size: 1.2em;
			&:before,
			&:after {
				content: "-";
				margin: 0 10px;
				color: #000;
			}
		}
		&.current-menu-item>a,
		&.current-menu-ancestor>a {
			color: #000;
		}
	}
}



/* Menu controls */
#menu-controls {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
}
#menu-controls .next,
#menu-controls .prev {
	position: absolute;
	// top: 51px;
	top: 15px;
	height: 110px;
	line-height: 110px;
	font-size: 40px;
	text-align: center;
	width: 25px;
	z-index: 1000;
	background: transparent no-repeat 50% 28%;
	background-size: auto 45%;
}
#menu-controls .next {
	right: 0px;
	background-image: url(img/menu/button-right-white.png);
}
#menu-controls .prev {
	left: 0px;
	background-image: url(img/menu/button-left-white.png);
}

.collapsed {
	transition: 2s;
	opacity: 0;
}



.menu-dots {
	// width: 100%;
	z-index: 1000;
	width: 100px;
	margin: auto;
	position: absolute;
	top: 55px;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	li {
		display: inline-block;
		// color: #fff;
		font-size: 0;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: transparent;
		border: 2px solid #fff;
		&.active {
			// color: #f0e;
			background-color: #fff;
		}
	}
}

.main-menu > li > ul > li > ul > li > a:hover {
    text-decoration: none;
}

.main-menu > li.current-menu-ancestor > a > span {
	color: #000;
}

.teler-wd__tooltip, .teler-wd__tooltip_right {
	display: none;
}

.teler-wd__trigger {
	opacity: 0 !important;
	display: none !important;
}
