// HEADER-MAIN-TOP

.navbar-default {
	width: 70%;
	float: right;
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	border: none;
	margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	background: #000;
	z-index: 10000;
	text-align: center;
	width: 60%;
	height: 100vh;
	overflow: hidden;
	-webkit-transition: all ease-in 0.7s;
	transition: all ease-in 0.7s;
	padding-top: 93px;
	right: -60%;
	&.active {
		height: 100vh;
		opacity: 1;
		-webkit-transition: all ease-out 0.3s;
		transition: all ease-out 0.3s;
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
		right: 0;
	}
}



.collapse, .navbar-collapse{
	display: block;
	padding-left: 0;
	padding-right: 0;
}

.container-fluid>.navbar-collapse {
	margin-right: 0;
	margin-left: 0;
}

.navbar-header {
	display: none;
}	

.navbar-nav {
	margin: 0 auto;
}



.nav > li > a {
	padding: 10px 2px; 
	font-size: 18px;
	border-bottom: 2px solid;
	text-align: left;
}




/* Main menu behavior (поведение главного меню) */

body > .container {
	padding-left: 0;
	padding-right: 0;
}

.main-menu {

	/* Hide inner lists (скрыть вложенные списки) */
	ul {
		display: none;
	}

	/*
		Show the second level of menu when selected
		(показать второй уровень меню когда выбрано)
	*/
	&>li {
		&.current-menu-item>ul,
		&.current-menu-ancestor>ul {
			display: block;
			&>.current-menu-item,
			&>.current-menu-ancestor {
				display: flex;
			}
		}
	}

	/*
		Show the third level of menu when selected
		(показать третий уровень меню когда выбрано)
	*/
	&>li {
		&.current-menu-item>ul>li>ul,
		&.current-menu-ancestor>ul>li>ul {
			display: block!important;
			margin-top: 60px;
			height: 110px;
			overflow-y: auto;
			border-bottom-left-radius: 25px;
			background-color: #f5f5f5;
			width: 100%;
		}
	}

}
// .main-menu > li > ul > li.current_page_item, .main-menu > li > ul > li.current-menu-ancestor

/* Main menu styles (стили главного меню) */
.main-menu {

	color: $color-sub;
	font-size: 14.4px;
	padding-top: 1px;
	margin: -1px auto;
	padding-bottom: 1px;
	position: relative;

	/* First level of menu (первый уровень меню) */
	&>li {
		// new
		&>ul {
			padding-top: 50px;
			margin: 35px auto 0px;
			margin-top: -2px;
			background-color: #000;
			padding-bottom: 10px;
			border-bottom-left-radius: 25px;
			background: #000;
			border-left: 1px solid black;
			&>li.current_page_item > a > span {
				box-shadow: inset 0 0 5px rgba(0,0,0,1.5);
    			position: absolute;
    			bottom: 0;
    			left: 0;
    			right: 0;
   			    width: 83%;
   			    margin: 5px 8.5%;
   			    padding: 8px 0;
				color: #000;
				font-weight: bold;
			}
		}
		// new end
		&:nth-child(1)>a {
			left: 0;
			border-right: 1px solid black;
		}
		&:nth-child(2)>a {
			right: 33.4%;
			border-right: 1px solid black;
			border-left: 1px solid black;
		}
		&:nth-child(3)>a {
			right: 0;
			font-size: 12px;
			border-left: 1px solid black;
		}
		&>a {
			background-color: #d3d3d5;
			border: 2px solid transparent;
			border-radius: 7px;
			color: #333;
			font-weight: bold;
			font-size: 13px;
			width: 47%;
			text-align: center;
			padding: 5px 0;
			position: absolute;
			top: 1px;
            height: 48px;
			right: 33.33%;
		}
		// new
		&>a {
			border: 1px solid transparent;
			width: 33.3%;
			border-bottom: 3px solid black;
			text-transform: uppercase;
			height: 48px;
			border-left: 1px solid;
			border-radius: 0;
		}
		// new end
		&.current-menu-item,
		&.current-menu-ancestor {
			&>a {
				height: 48px;
				border: 0;
				z-index: 100;
				color: #000;
				background-color: #f5f5f5;
				border-left: 1px solid black;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

			}
		}
	}

	/* Second level of menu (второй уровень меню) */
	&>li>ul>li {
		// border-top: 1px solid $color-sub;
		border: 0;
		
		display: none;
		// &:last-child {
		// 	border-bottom: 1px solid $color-sub;
		// }
		&>a {

			display: block;
			display: flex;
			padding: 10px 5% 10px 5%;
			text-transform: uppercase;
			// position: relative;
			position: absolute;
			top: 49px;
			left: 0;
			width: 100%;
			// &:after {
			// 	content: url('img/icons/toggle-list.png');
			// 	position: absolute;
			// 	top: 7px;
			// 	right: 7px;
			// }

			padding: 0 40px 0 130px;
			text-align: center;
			// background-color: #777;
			background-color: #f5f5f5;
			// background-color: #5d514b;
			color: #000;
			height: 60px;
			align-items: center;
			justify-content: center;

			// background-image: url("//migrations.agency/wp-content/themes/migrations-agency/img/menu/mobile/9.png");
			background-repeat: no-repeat;
			background-position: 40px 50%;
			background-size: auto 80%;
			border-left: 1px solid;
			&>span {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 8px 0;
				background-color: #cacaca !important;
				width: 83%;
				margin: 5px 8.5%;
				color: #000;
				
			}
		}

		&.current_page_item,
		// &.active,
		&.current-menu-ancestor {
			display: flex;
			&>a {
				color: $color-white;
				border-color: transparent;
				border-left: 1px solid black;
				// &:after {
				// 	transform: rotate(180deg);
				// }
			}
		}
	}

	/* Images for "Services to foreigners" (картинки для "Углуги иностранцам") */
	&>li:first-child>ul>li>a {
			text-transform: uppercase;
			top: 49px;
	}

	/* Third level of menu (третий уровень меню) */
	&>li>ul>li>ul {
		// background-color: red !important;
		&>li {
			&>a {
				color: $color-main-text;
				display: block;
				width: 83%;
				margin: 0 8.5%;
				text-align: left;
                padding: 7px 0 7px 55px;
				text-overflow: ellipsis;
   				overflow: hidden;
   				white-space: nowrap;
				font-size: 15px;
				box-shadow: 1px 2px 2px rgba(100, 100, 100, 0.1);
				border-bottom: 1px dotted;
			}
			&.current_page_item>a,
			&.current-menu-ancestor>a {
				color: #000;
				width: 83%;
				margin: 0 8.5%;
				padding: 7px 0 7px 55px;
				text-align: left;
				text-overflow: ellipsis;
   				overflow: hidden;
   				white-space: nowrap;
				font-size: 15px;
				box-shadow: inset 0 0 5px rgba(0,0,0,1.5);
			}
		}
	}

}



/* Fourth level of menu (четвертый уровень меню) */
.deep_menu {
	text-align: center;
	margin: 0 auto;
	&>ul>li {
		list-style-type: none;
		&>a {
			display: block;
			color: #000;
			font-size: 1.2em;
			&:before,
			&:after {
				content: "-";
				margin: 0 10px;
				color: #000;
			}
		}
		&.current-menu-item>a,
		&.current-menu-ancestor>a {
			color: #000;
		}
	}
}



/* Menu controls */
#menu-controls {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
}
#menu-controls .next,
#menu-controls .prev {
	position: absolute;
	// top: 51px;
	top: -15px;
	height: 110px;
	line-height: 110px;
	font-size: 40px;
	text-align: center;
	width: 25px;
	z-index: 1000;
	background: transparent no-repeat 50% 28%;
	background-size: auto 45%;
}
#menu-controls .next {
	right: 0px;
	background-image: url(img/menu/button-right.png);
}
#menu-controls .prev {
	left: 0px;
	background-image: url(img/menu/button-left.png);
}

.collapsed {
	transition: 2s;
	opacity: 0;
}



.menu-dots {
	// width: 100%;
	z-index: 1000;
	width: 120px;
	margin: auto;
	position: absolute;
	top: 53px;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	li {
		display: inline-block;
		// color: #fff;
		font-size: 0;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: transparent;
		border: 2px solid #000;
		&.active {
			// color: #f0e;
			background-color: #000;
		}
	}
}

.main-menu > li > ul > li > ul > li > a:hover {
    text-decoration: none;
}

.main-menu > li.current-menu-ancestor > a > span {
	color: #000;
}

.teler-wd__tooltip, .teler-wd__tooltip_right {
	display: none;
}

.teler-wd__trigger {
	opacity: 0 !important;
	display: none !important;
}

.main-menu > li > ul > li > ul > li {
	background-repeat: no-repeat;
	background-position: 50px 3px;
	background-size: 30px;
}

.menu-item-485, .menu-item-904, .menu-item-1354 {background-image: url(img/menu/icons/adwords.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/adwords-color.png);}}
.menu-item-489, .menu-item-905, .menu-item-1355 {background-image: url(img/menu/icons/yandex.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/yandex-color.png);}}
.menu-item-836 {background-image: url(img/menu/icons/bing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/bing-color.png);}}
.menu-item-488, .menu-item-906, .menu-item-1324 {background-image: url(img/menu/icons/facebook.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/facebook-color.png);}}
.menu-item-482, .menu-item-907, .menu-item-1325 {background-image: url(img/menu/icons/instagram.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/instagram-color.png);}}
.menu-item-944, .menu-item-969, .menu-item-1438, .menu-item-1326 {background-image: url(img/menu/icons/play.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/youtube-color.png);}}
.menu-item-865, .menu-item-1327 {background-image: url(img/menu/icons/twitter.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/twitter-color.png);}}
.menu-item-866, .menu-item-908, .menu-item-1328 {background-image: url(img/menu/icons/vk.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/vk-color.png);}}
.menu-item-867, .menu-item-909, .menu-item-1329 {background-image: url(img/menu/icons/od.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/ok-color.png);}}
.menu-item-868, .menu-item-1330 {background-image: url(img/menu/icons/pinterest.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/pinterest-color.png);}}
.menu-item-945 {background-image: url(img/menu/icons/skype.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/skype-color.png);}}
.menu-item-970 {background-image: url(img/menu/icons/gmail.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/gmail-color.png);}}
.menu-item-1439 {background-image: url(img/menu/icons/audit.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/audit-color.png);}}
.menu-item-1356 {background-image: url(img/menu/icons/begun.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/begun-color.png);}}
.menu-item-1357 {background-image: url(img/menu/icons/kon-med.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/kon-med-color.png);}}
//tiser
.menu-item-899 {background-image: url(img/menu/icons/margid.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/margid-color.png);}}
.menu-item-901 {background-image: url(img/menu/icons/kadam.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/kadam-color.png);}}
.menu-item-902 {background-image: url(img/menu/icons/direct.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/direct-color.png);}}
.menu-item-953 {background-image: url(img/menu/icons/bodyclick.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/bodyclick-color.png);}}
.menu-item-954 {background-image: url(img/menu/icons/adlabs.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/adlabs-color.png);}}
//marketplace
.menu-item-981 {background-image: url(img/menu/icons/olx.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/olx-color.png);}}
.menu-item-982 {background-image: url(img/menu/icons/prom.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/prom-color.png);}}
.menu-item-983 {background-image: url(img/menu/icons/allbiz.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/allbiz-color.png);}}
//web-analytics
.menu-item-1077 {background-image: url(img/menu/icons/g-analytics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/g-analytics-color.png);}}
.menu-item-1078 {background-image: url(img/menu/icons/yandex-metrics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/yandex-metrics-color.png);}}
.menu-item-1079 {background-image: url(img/menu/icons/facebook-analytics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/facebook-analytics-color.png);}}
//seo
.menu-item-1300 {background-image: url(img/menu/icons/vnut-seo.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/vnut-seo-color.png);}}
.menu-item-1301 {background-image: url(img/menu/icons/vnesh-seo.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/vnesh-seo-color.png);}}
.menu-item-1302 {background-image: url(img/menu/icons/seo-audit.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/seo-audit-color.png);}}
.menu-item-1303 {background-image: url(img/menu/icons/serm.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/serm-color.png);}}
.menu-item-1304 {background-image: url(img/menu/icons/check-sanctions.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/check-sanctions-color.png);}}
.menu-item-1305 {background-image: url(img/menu/icons/lift-sanctions.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/lift-sanctions-color.png);}}
//стратегия
.menu-item-1339 {background-image: url(img/menu/icons/audit2.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/audit2-color.png);}}
.menu-item-1340 {background-image: url(img/menu/icons/consulting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/consulting-color.png);}}
.menu-item-1367 {background-image: url(img/menu/icons/lift-sanctions.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/lift-sanctions-color.png);}}
//price агрегаторы
.menu-item-1474 {background-image: url(img/menu/icons/hotline.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/hotline-color.png);}}
.menu-item-1475 {background-image: url(img/menu/icons/price.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/price-color.png);}}
.menu-item-1476 {background-image: url(img/menu/icons/nadavi.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/nadavi-color.png);}}
.menu-item-1477 {background-image: url(img/menu/icons/m-ua.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/m-ua-color.png);}}
.menu-item-1478 {background-image: url(img/menu/icons/ek-ua.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-color/ek-ua-color.png);}}

//---------------------------------------------site--------------------------------------------

//web-design
.menu-item-495 {background-image: url(img/menu/icons-site/web-design.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/web-design-color.png);}}
.menu-item-1017 {background-image: url(img/menu/icons-site/redesign.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/redesign-color.png);}}
.menu-item-1385 {background-image: url(img/menu/icons-site/media-banners.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/media-banners-color.png);}}
.menu-item-1386 {background-image: url(img/menu/icons-site/usability.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/usability-color.png);}}

//optimizaciya

.menu-item-1400 {background-image: url(img/menu/icons-site/cms.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/cms-color.png);}}
.menu-item-1401 {background-image: url(img/menu/icons-site/fast-loading.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/fast-loading-color.png);}}
.menu-item-1402 {background-image: url(img/menu/icons-site/adaptation.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/adaptation-color.png);}}
.menu-item-1403 {background-image: url(img/menu/icons-site/technical-audit.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/technical-audit-color.png);}}

//tehpodderzhka

.menu-item-1425 {background-image: url(img/menu/icons-site/ssl.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/ssl-color.png);}}
.menu-item-1426 {background-image: url(img/menu/icons-site/hosting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/hosting-color.png);}}
.menu-item-1427 {background-image: url(img/menu/icons-site/defence.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/defence-color.png);}}

//sozdanie saita

.menu-item-1018 {background-image: url(img/menu/icons-site/landing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/landing-color.png);}}
.menu-item-1373 {background-image: url(img/menu/icons-site/vizitka-site.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/vizitka-site-color.png);}}
.menu-item-1019 {background-image: url(img/menu/icons-site/corporation-site.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/corporation-site-color.png);}}
.menu-item-1383 {background-image: url(img/menu/icons-site/internet-shop.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/internet-shop-color.png);}}
.menu-item-1384 {background-image: url(img/menu/icons-site/dorabotka.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/dorabotka-color.png);}}
.menu-item-1020 {background-image: url(img/menu/icons-site/mobile.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/mobile-color.png);}}

//integraciya

.menu-item-1063 {background-image: url(img/menu/icons-site/ip-atc.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/ip-atc-color.png);}}
.menu-item-1066 {background-image: url(img/menu/icons-site/calltracking.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/calltracking-color.png);}}
.menu-item-1071 {background-image: url(img/menu/icons-site/amocrm.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/amocrm-color.png);}}
.menu-item-1429 {background-image: url(img/menu/icons-site/messangers.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/messangers-color.png);}}
.menu-item-1430 {background-image: url(img/menu/icons-site/online-chat.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/online-chat-color.png);}}
.menu-item-1431 {background-image: url(img/menu/icons-site/mailing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/mailing-color.png);}}
.menu-item-1432 {background-image: url(img/menu/icons-site/sms-mailing.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-site-color/sms-mailing-color.png);}}

//---------------------------------------------site--------------------------------------------

//textoviy
.menu-item-1456 {background-image: url(img/menu/icons-content/copywriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/copywriting-color.png);}}
.menu-item-1457 {background-image: url(img/menu/icons-content/rewriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/rewriting-color.png);}}
.menu-item-1458 {background-image: url(img/menu/icons-content/seo-copywriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/seo-copywriting-color.png);}}
.menu-item-1459 {background-image: url(img/menu/icons-content/smm-copywriting.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/smm-copywriting-color.png);}}

//graphicheskiy
.menu-item-1460 {background-image: url(img/menu/icons-content/infographics.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/infographics-color.png);}}
.menu-item-1461 {background-image: url(img/menu/icons-content/presentations.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/presentations-color.png);}}

//video
.menu-item-1462 {background-image: url(img/menu/icons-content/video-montage.png); &:hover, &.current_page_item {background-image: url(img/menu/icons-content-color/video-montage-color.png);}}
